<launch>
    <node
        pkg="camera_yolo"
        type="camera_yolo2.py"
        name="camera_yolo"
        output="screen"
    />
    <node name="ball_tf_broadcaster" pkg="ball_tf" type="ball_tf_broadcaster.py" respawn="false" output="screen" >
        <param name="ball" type="string" value="ball" />
    </node>
</launch>
